img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.img1 {
    position: fixed;
    top: 250px;
    left: 100px;
}

.img2 {
    position: sticky;
    right: 50px;
    bottom: 150px;
}